<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Concealed Reality{% endblock %}</title>
    <link rel='stylesheet' media='screen' type='text/css' href='{{ asset('app.css') }}'/>
</head>
<body>
<div class="container">
    <div class="row content">
        <div class="col align-self-center">
            <img src="{{ asset('images/logo.png') }}" class="img-fluid"/>
            <nav>
                <a href="">Music</a>
                <a href="">Shop</a>
                <a href="">Blog</a>
            </nav>
        </div>
        <div class="col-12 col-lg-9">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
