{% extends '@App/base.html.twig' %}

{% block title %}Music / Concealed Reality{% endblock %}

{% block body_css_class %}music-container{% endblock %}

{% block menu %}
    <nav class="nav">
        <a class="nav-link active" href="#">CONCEALED REALITY</a>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

{% endblock %}
