{% extends '@App/base.html.twig' %}

{% block title %}Music / Concealed Reality{% endblock %}

{% block body_css_class %}music-container{% endblock %}

{% block menu %}

    <nav class="navbar fixed-top navbar-light bg-white">
        <div class="container container-flex-no-espace">
            <a class="navbar-brand" href="#">CONCEALED REALITY</a>

            <span class="navbar-text custom-breadcrumb">
                <a href="{{ path('homepage') }}">Home</a> / <span>Music</span>
            </span>
        </div>
    </nav>
{% endblock %}

{% block body %}

{% endblock %}
