body {
    background-color: black;
}

body.music-container {
    background-color: white;;
}

.content {
    height:100vh;;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2em;
}
